@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  #print-controls, #main-app {
    display: none !important;
  }
  .confirmation-page {
    page-break-after: always;
    box-shadow: none !important;
    border: none !important;
    margin: 0 !important;
  }
  #print-preview-container {
    display: block !important;
  }
  #print-preview-content {
      padding: 0 !important;
  }
}